@font-face {
    font-family: 'font';
    src: url('../../../fonts/8blimro.ttf');
}
@font-face {
    font-family: 'font2';
    src: url('../../../fonts/Aerosol.ttf');
}
@font-face {
    font-family: 'bubblegum';
    src: url('../../../fonts/BubblegumSans-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'font', Arial, sans-serif;
    background-color: #f8f9fa;
}

.main {
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-y: auto;
}
.header{
    width: 100%;
    height: 60px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px;
}
.title{
    width: auto;
    height: 100%;
    padding: 10px;
    float: left;
}
.title span{
    color: #f96969;
    font-size: 24px;
    font-family: 'bubblegum';

}
.h{
    width: auto;
    height: 100%;
    float: right;
    background-color: transparent;
    padding: 4px 10px;
}

.fotoU{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    float: right;
}
.fotoU img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.content{
    width: 100%;
    height: auto;
    padding: 0 0 60px 0;
}
.section{
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px auto;
}
.section-1{
    padding: 10px;
    background-color: #fff;
}
.section-1 .foto_perfil{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    float: left;
}
.section-1 .foto_perfil img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 5px;
    border-top: 4px dashed #f96969;
    border-bottom: 4px dashed #f96969;
    border-left: 4px solid #f96969;
    border-right: 4px solid #fff;
}
.u_v{
    height: 150px;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.u_v a{
    padding: 8px 40px;   
    background-color: #f96969; 
    text-decoration: none;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
}
.nome_usuario{
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.nome_usuario span{    
    font-size: 34px;
    font-family: Geometr212 BkCn BT;
}
.section-2{
    padding: 10px;
    background-color: #fff;
}
.dados_usuario > div{
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: #f1f1f1;
    margin: 10px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}
.dados_usuario div:nth-child(4){
    width: 100%;
    height: auto;
}
.d_fc img{
    width: 500px;
}
.section-3{
    padding: 10px;
    background-color: #fff;
}
.s-3{
    width: 100%;
    height: 300px;
    background-color: #f96969;
    border-radius: 10px;
}
.cls{
    width: 100%;
    height: 100%;
}
.cls-1, .cls-2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}
.cls-1-c{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
}
.cls-2-d{
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: #000;
}
.footer{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: transparent;
    z-index: 100;
}
.menu{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    text-align: center;
    border-top: 1px solid #f1f1f1;
}
.menu a{
    width: 20%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 5px;
    color: #404040;
}
.menu a:hover{
    transition: 0.6s ease-in-out;
    color: #f96969;
}
.menu a span{
    display: none;
}
.hide{
    display: none;
}
@media only screen and (max-width:1000px){
    .menu a span{
        display: none;
    }
    
.d_fc img{
    width: 500px;
}
}
@media only screen and (max-width:749px){

    .d_fc img{
        width: 100%;
        border-radius: 10px;
    }
    .u_v{
        height: 100px;
    }
    .nome_usuario{
        height: 100px;
    }
}